<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Ice Cream Flavors</h1>

  </div>
</div>



<div class="container">

  <div >

    <h2>Add Your Favorite Flavors</h2>
    <br>
    <form class="create-form">

      <div class="form-group">
       
        <input placeholder="icecream Name" type="text" id="ice" name="name">
          <button class="btn" type="submit">Lets Add It To The List Of The Greats !</button>
      </div>

      {{!-- <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Gone !<br>
    <input type="radio" name="devoured" value="0"> Still Available
  </div> --}}

      
    </form>
  </div>

  <div class="row">
    <div class="col-6">
      <h2>Your Favorite IceCream Flavors!</h2>
      <ul class="col-6">
        {{#each icecream}}
        {{#unless devoured}}
         <li class="row">
         <h5 class="col-5"> {{icecream_flavor}}</h5>
    
        </li>
        {{/unless}}
        {{/each}}
      </ul>

    </div>

    <div class="col-6">
      <h2>Best IceCream!</h2>
      <ul>
        {{#each icecream}}
        {{#if devoured}}
        <li class="row">
         <h5 class="col-5"> {{icecream_flavor}}</h5>
          <button class="change-devoured col-2" data-id={{id}}>Save</button>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>

  </div>

</div>