<h1>Ice Cream Shop</h1>

<h2>Your Favorite IceCream Flavors!</h2>

<ul>
  {{#each IceCream}}
    {{#unless devoured}}
      {{> iceCream/icecream-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Best IceCream!</h2>

<ul>
  {{#each iceCream}}
    {{#if devoured}}
      {{> iceCream/icecream-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add Your Favorite Flavours</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ice">IceCream Name:</label>
    <input type="text" id="ice" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Gone !<br>
    <input type="radio" name="devoured" value="0"> Still Available
  </div> --}}

  <button type="submit">Lets Add It To The List Of The Greats !</button>
</form>