.jumbrotron {
    background-color: blue;
    color: crimson;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h1 {
    font-family: Kristen ITC;
    font-size: 45px;
}

body {
    background-color: plum;
}
